#img1 {
    height: 500px;
}

.img2 {
    height: 250px;
}

.text1 {
    height: 250px;
}

#y {
    background-color: #E8FF59;
    background-size: cover;
}

#g {
    background-color: #2EFF23;
}

#b {
    background-color: #3DEBFF;
}

#p {
    background-color: #ED1EC0;
}

#r {
    background-color: #E80940;
}

p {
    font-family: 'Didact Gothic', sans-serif;
}

#ftrlnks {
    background-color: #01A7C2;
}
